/* Main Menu */

#mainMenu {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
}

#mainMenu .menuItem {
    background: whitesmoke;
    color: whitesmoke;
    display: flex;
    height: 60px;
    margin-top: 32px;
    align-items: center;
}

#mainMenu .menuItem .itemTitle {
    color: dimgray;
    align-self: center;
}

#mainMenu .menuItem .itemIconFrame {
    background: dimgray;
    width: 60px;
    font-size: 24px;
    height: 100%;
    border-radius: 10px 0px 0px 10px;
    vertical-align: center;
    display: flex;

}

#mainMenu .menuItem .itemIcon {
    width: 60px;
    align-self: center;
    font-size: 24px;
}

#mainMenu .menuItem p {
    font-family: 'Open Sans Condensed';
    font-size: 24px;
    color: dimgray;
    padding-left: 20px;
}